<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugar Cubes<%= title %></title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../../styles/style.css" type="text/css">
    <link rel="stylesheet" href="../../../styles/tailwind.css" type="text/css">
    <link rel="stylesheet" href="../../../styles/main.css" type="text/css">
</head>
    <div class="flex justify-between items-center">
        <a href="/"><p class="pacifico text-xl font-bold text-primary">Sugar Cubes</p></a>
        <a href=<%= href %> ><button class="bg-primary py-3 px-5"><%= hrefText %> </button></a>
    </div>
<body class="nunito text-text bg-background px-sm md:px-md xl:px-lg 2xl:px-2xl py-3 md:py-5 xl:py-7 " >
    